@import "tailwindcss";

:root {
  --primary: #7c3aed;
  --secondary: #05b586;

  --background: #ffffff;
  --background-secondary: #f8fafc;
  --bg-form: #eae7ef;

  --text-main: #ffffff;
  --text: #1e293b;
  --text-secondary: #64748b;

  --border: #e2e8f0;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-form:var(--bg-form);
  --color-text: var(--text);
  --color-text-main: var(--text-main);

  --color-text-secondary: var(--text-secondary);

  --color-border: var(--border);
}